@charset "UTF-8";


/************************ CumulativeInputFeedbackPanel */

.instantplaces-CumulativeInputFeedbackPanel {
	z-index: 910;
}

.instantplaces-CumulativeInputFeedbackPanel .content {

	border-style: dotted;
	border-width: 1px;
	border-color: black;
	padding: 5px;
	color: #000;
	z-index: 910;
}

.instantplaces-CumulativeInputFeedbackPanel-background {
	position:absolute;
	background-color: #fff;
	opacity: .9 ;
  	filter: alpha(opacity=90);
  	z-index:900;  
}


.instantplaces-CumulativeInputFeedbackPanel .accepted {
	background-image:url('icons/16px-Crystal_Clear_action_apply.png');
	background-repeat:no-repeat;
	background-position: center left;
	padding-left:20px;
	color: green;
		font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
	word-wrap:normal;
	white-space:nowrap;
}

.instantplaces-CumulativeInputFeedbackPanel .notaccepted {
	background-image:url('icons/16px-Crystal_Clear_action_editdelete.png');
	background-repeat:no-repeat;
	background-position: center left;
	padding-left:20px;
	color: red;
		font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
	word-wrap:normal;
	white-space:nowrap;
}
 


/************************ GuiButton */
.instantplaces-GuiButton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	height: 100px;
	width: 200px;
	margin: 0;
	padding: 3px 5px;
	background: url("icons/hborder.png") repeat-x 0px -27px;
	border: 1px outset #ccc;
}

.instantplaces-GuiButton-disabled {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	height: 100px;
	width: 200px;
	background: url("icons/hborder.png") repeat-x 0px -27px;
}

.instantplaces-GuiButton .caption {
	
}

.instantplaces-Button .referencecode {
	
}

.instantplaces-Button-disabled {
	color: graytext;
}



/************************ GuiTagCloud */
.instantplaces-GuiTagCloud {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	font-family: Verdana, Geneva, sans-serif;
	background-color: transparent; /*lightgreen;*/
	width: 100%;
	height: 100%;
}

.instantplaces-GuiTagCloud .tag {
	border-style: none;
	border-width: 1px;
	border-color: black;
	padding: 5px 5px 5px 5px;
}

/* to center the text box horizontally */
.instantplaces-GuiTagCloud td{
	padding:0px;
	text-align:center;
}


/************************ GuiTextBox */
.instantplaces-GuiTextBox {
	font-family: Verdana, Geneva, sans-serif;
	font-size: xx-large;
	display: inline-block;
	position: relative;
	width: 200px;
	height: 50px;
}

.instantplaces-GuiTextBox .textbox {
	font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
	position: absolute; 
	right: 0px; 
	left: 0px; 
	top: 0px; 
	bottom: 0px; 
	margin:0px 0px 0px 0px; 
	width: inherit;
	height:inherit;
}

.instantplaces-GuiTextBox .caret {
	position:absolute; 
	left:5px;
	background-color:transparent;
	line-height:50px; /* this should be equal to .instantplaces-GuiTextBox height*/
}

.instantplaces-GuiTextBox .captioncontainer {
	position:absolute; 
	right:5px;
	text-align:right;
	background-color:transparent;
	line-height:50px; /* this should be equal to .instantplaces-GuiTextBox height*/
}
	
.instantplaces-GuiTextBox  .captioncontainer .caption {
	font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
}

.instantplaces-GuiTextBox .captioncontainer .referencecode {
	font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
	padding-left: 5px;
}

.instantplaces-GuiTextBox-disabled {
	color: graytext;
}

.instantplaces-GuiTextBox-disabled .caret {
	visibility: hidden;
}
