@charset "UTF-8";


/************************ CumulativeInputFeedbackPanel */

.purewidgets-CumulativeInputFeedbackPanel {
	position:absolute;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.6);
	z-index: 910;
	
	border: 1px dotted black;
	border-radius: 5px;
}

.purewidgets-CumulativeInputFeedbackPanel .title {
	font-size: xx-large;
}

/*
.instantplaces-CumulativeInputFeedbackPanel .content {

	border-style: dotted;
	border-width: 1px;
	border-color: black;
	padding: 5px;
	color: #000;
	z-index: 910;
}

.instantplaces-CumulativeInputFeedbackPanel-background {
	position:absolute;
	background-color: #fff;
	opacity: .9 ;
  	filter: literal("alpha(opacity=90)");
  	z-index:900;  
}
*/

.purewidgets-CumulativeInputFeedbackPanel .accepted {
	background-image:url('purewidgetsicons/16px-Crystal_Clear_action_apply.png');
	background-size:32px 32px;
	background-repeat:no-repeat;
	background-position: center left;
	padding-left:40px;
	color: green;
	font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
	word-wrap:normal;
	white-space:nowrap;
}

.purewidgets-CumulativeInputFeedbackPanel .notaccepted {
	background-image:url('purewidgetsicons/16px-Crystal_Clear_action_editdelete.png');
	background-size:32px 32px;
	background-repeat:no-repeat;
	background-position: center left;
	padding-left:40px;
	color: red;
	font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
	word-wrap:normal;
	white-space:nowrap;
}
 

/************************ GuiDownloadButton */
.instantplaces-GuiDownloadButton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	height: 100px;
	width: 200px;
	margin: 0;
	padding: 3px 5px;
	background: url("purewidgetsicons/hborder.png") repeat-x 0px -27px;
	border: 1px outset #ccc;
}

.instantplaces-GuiDownloadButton-disabled {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	height: 100px;
	width: 200px;
	background: url("purewidgetsicons/hborder.png") repeat-x 0px -27px;
	color: graytext;
}

.instantplaces-GuiDownloadButton .caption {
	display: inline;
}

.instantplaces-GuiDownloadButton .referencecode {
	display: inline;
	margin-left: 5px;
}



/************************ GuiButton */
.instantplaces-GuiButton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	height: 100px;
	width: 200px;
	margin: 0;
	padding: 3px 5px;
	background: url("purewidgetsicons/hborder.png") repeat-x 0px -27px;
	border: 1px outset #ccc;
}

.instantplaces-GuiButton-disabled {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	height: 100px;
	width: 200px;
	background: url("purewidgetsicons/hborder.png") repeat-x 0px -27px;
	color: graytext;
}

.instantplaces-GuiButton .caption {
	display: inline;
}

.instantplaces-GuiButton .referencecode {
	display: inline;
	margin-left: 5px;
}




/************************ GuiListBox */
.instantplaces-GuiListBox {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	margin: 0;
	
	border: 1px outset #ccc;
}

.instantplaces-GuiListBox .item {
	width: 100%;
	margin-bottom: 20px;
}

.instantplaces-GuiListBox .title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}


.instantplaces-GuiListBox .label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	float:left;
}

.instantplaces-GuiListBox .referencecode {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	float: right;
}


/************************ GuiTagCloud */
.instantplaces-GuiTagCloud {
	/*border-style: solid;
	border-width: 1px;
	border-color: black;*/
	font-family: Verdana, Geneva, sans-serif;
	background-color: transparent; /*lightgreen;*/
	width: 100%;
	height: 100%;
}

.instantplaces-GuiTagCloud .tagspanel {
	overflow:hidden;
}

.instantplaces-GuiTagCloud .tag {
	border-style: none;
	border-width: 1px;
	border-color: black;
	padding: 5px 5px 5px 5px;
}

/* to center the text box horizontally */
.instantplaces-GuiTagCloud td{
	padding:0px;
	text-align:center;
}


/************************ GuiTextBox */
.instantplaces-GuiTextBox {
	font-family: Verdana, Geneva, sans-serif;
	font-size: xx-large;
	display: inline-block;
	position: relative;
	width: 200px;
	height: 50px;
}

.instantplaces-GuiTextBox .textbox {
	font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
	position: absolute; 
	right: 0px; 
	left: 0px; 
	top: 0px; 
	bottom: 0px; 
	margin:0px 0px 0px 0px; 
	width: inherit;
	height:inherit;
}

.instantplaces-GuiTextBox .caret {
	position:absolute; 
	left:5px;
	background-color:transparent;
	line-height:50px; /* this should be equal to .instantplaces-GuiTextBox height*/
}

.instantplaces-GuiTextBox .captioncontainer {
	position:absolute; 
	right:5px;
	text-align:right;
	background-color:transparent;
	line-height:50px; /* this should be equal to .instantplaces-GuiTextBox height*/
}
	
.instantplaces-GuiTextBox  .captioncontainer .caption {
	font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
}

.instantplaces-GuiTextBox .captioncontainer .referencecode {
	font-family: Verdana, Geneva, sans-serif;
	font-size:xx-large;
	padding-left: 5px;
}

.instantplaces-GuiTextBox-disabled {
	color: graytext;
}

.instantplaces-GuiTextBox-disabled .caret {
	visibility: hidden;
}
