@external gwt-Label,instantplaces-GuiButton,instantplaces-GuiDownloadButton ;


.id-globalBottomPanel{
	height: 70%;
	/*width: 100%;*/
	background-color: transparent;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	
}

.id-recentlyplayed {
 	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	background-color: #FFF;
	height: 100%;
	/*width: 100%;*/
	float:left;
	padding-left: 0px;
	/*border:2px solid black;*/
}


.recentlyplayed-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 3em;
}

.id-recentlyplayed  .instantplaces-GuiButton {
	width: 200px;
	height: 50px;
}
.id-recentlyplayed  .instantplaces-GuiDownloadButton {
	width: 200px;
	height: 50px;
}



.id-activityStream {
 	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	
	background-color: #FFF;
	height: 100%;
	float:right;
	
	padding-right:0px;
	/*border:2px solid black;*/
}

.id-activityStream .gwt-Label {
	font-size: 2em;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed black;
}

.activityStream-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 3em;
}







.videoactionentry-outerpanel {
	height: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.videoactionentry-outerpanel td{
	height: 100%;
}

.videoactionentry-thumbnail {
	height: 150px;
	margin-right:10px;
	margin-bottom:0px;
}

.videoactionentry-infoPanel {
	height: 100%;	
}

.videoactionentry-infoPanel-title {
	font-size: 2em;
	height: 75px;
	overflow:hidden;
}

.videoactionentry-button {
	margin-top: auto;
	margin-bottom: 0px;
}

.videoactionentry-button .instantplaces-GuiButton {
	margin-right: 10px;
}

.searchresults {
	width: 100%;
}

.searchresults  .instantplaces-GuiButton {
	width: 250px;
	height: 50px;
}
