<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>interactionServlet</servlet-name>
    <servlet-class>org.instantplaces.purewidgets.server.interactionmanager.InteractionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>interactionServlet</servlet-name>
    <url-pattern>/interactionservice</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>remoteStorageServlet</servlet-name>
    <servlet-class>org.instantplaces.purewidgets.server.storage.RemoteStorageServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>remoteStorageServlet</servlet-name>
    <url-pattern>/storageservice</url-pattern>
  </servlet-mapping>
  
  

<servlet>
    <servlet-name>EveryBodyVotes</servlet-name>
    <servlet-class>org.jorgecardoso.purewidgets.demo.everybodyvotes.server.EveryBodyVotes</servlet-class>
</servlet> 
<servlet-mapping>
    <servlet-name>EveryBodyVotes</servlet-name>
    <url-pattern>/everybodyvotes/server</url-pattern>
</servlet-mapping>   
  
    
<servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>org.jorgecardoso.purewidgets.demo.test.server.Test</servlet-class>
  </servlet> 
  
      <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping> 
  
   
<servlet>
  <servlet-name>sightingServlet</servlet-name>
    <servlet-class>org.jorgecardoso.purewidgets.demo.placeinteraction.server.SightingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>sightingServlet</servlet-name>
    <url-pattern>/sighting</url-pattern>
  </servlet-mapping>  
     
 <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>org.jorgecardoso.purewidgets.demo.placeinteraction.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/placeinteractiondemo/login</url-pattern>
  </servlet-mapping>     

 
     
<servlet>
	<servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl </servlet-class> 
	<servlet-name>logger </servlet-name>
</servlet>

<servlet-mapping >
	<servlet-name>logger</servlet-name >
	<url-pattern>/youtubedemo/remote_logging</url-pattern>
</servlet-mapping >

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Demos.html</welcome-file>
  </welcome-file-list>

</web-app>
